<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <link rel="stylesheet" href="../css/style.css">
  <title>Navbar Example</title>
</head>
<body>
{{>navbar}}
    {{!--left part --}}
<div class="container-fluid mt-5">
    <div class="row">
        <div class="col-md-10 col-12 mx-auto ">
            <div class="row" >
                <div class="col-md-6 col-12 hero-text order-md-0 order-1 d-flex justify-content-centre align-items-start flex-column ">
                    <h1>WE WILL HELP YOU TO</h1>
                    <h1>GROW YOU BUISENESS</h1>
                    <p>We Are The Team Of <span>Professionals</span></p>
                    <button class="btn-style btn-primary">REad More</button>
                </div>

                <div class="col-md-6 col-12 order-md-1 order-0">
                   <figure>
                    <img src="CSS/Screenshot(58).png" alt="hro_img">
                   </figure>
                </div>
            </div>
        </div>
    </div>
</div>
{{!--hero section ends--}}

{{!--about us start--}}
<div class="container-fluid mt-5 about-style" id="aboutid" >
    <div class="row">
        <div class="col-md-10 col-12 mx-auto ">
            <h1 class="text-centre main-heading" >About Us</h1>
            <p class="text-centre sub-heading" >Grow your business with us </p>
            <div class="row" >
                  <div class="col-md-6 col-12 ">
                   <figure>
                    <img src="images/Screenshot(58).png" alt="hro_img">
                   </figure>
                </div>


                <div class="col-md-6 col-12 hero-text ">
                    <h1>WE ARE PROFESSIONAL DEVELOPER </h1>
                
                    <p>We Are The Team Of <span>Professionals</span> let's rocj then why are you waiting for</p>
                    <button class="btn-style btn-primary">REad More</button>
                </div>

            </div>
        </div>
    </div>
</div>
{{!--about us ends--}}

{{!--services start--}}
<div class="container-fluid mt-5">
    <div class="row">
        <div class="col-md-10 col-12 mx-auto ">
          <h1>Our Services</h1>
          <p>grow your business with us</p>
            <div class="row" >
                <div class="col-md-4 ">
                  <div class="box" >
                    <div class="our-services settings " >
                      <div class="icon" >
                        <img src="https://imgur.com/6NKPrh0.png" alt="">
                      </div>
                      <h4>Settings</h4>
                      <p>You can set anything with this functionalty</p>
                    </div>
                  </div>
                  

                 </div>
                  <div class="col-md-4 ">
                  <div class="box" >
                    <div class="our-services database " >
                      <div class="icon" >
                        <img src="https://imgur.com/6NKPrh0.png" alt="">
                      </div>
                      <h4>Database</h4>
                      <p>You can set anything with this functionalty</p>
                    </div>
                  </div>
                  

                 </div> <div class="col-md-4 ">
                  <div class="box" >
                    <div class="our-services speedup " >
                      <div class="icon" >
                        <img src="https://imgur.com/6NKPrh0.png" alt="">
                      </div>
                      <h4>Speedup</h4>
                      <p>You can set anything with this functionalty</p>
                    </div>
                  </div>
                  

                 </div> <div class="col-md-4 ">
                  <div class="box" >
                    <div class="our-services ssl " >
                      <div class="icon" >
                        <img src="https://imgur.com/6NKPrh0.png" alt="">
                      </div>
                      <h4>SSL</h4>
                      <p>You can set anything with this functionalty</p>
                    </div>
                  </div>
                  

                 </div> <div class="col-md-4 ">
                  <div class="box" >
                    <div class="our-services backups " >
                      <div class="icon" >
                        <img src="https://imgur.com/6NKPrh0.png" alt="">
                      </div>
                      <h4>Backups</h4>
                      <p>You can set anything with this functionalty</p>
                    </div>
                  </div>
                  

                 </div> <div class="col-md-4 ">
                  <div class="box" >
                    <div class="our-services privacy " >
                      <div class="icon" >
                        <img src="https://imgur.com/6NKPrh0.png" alt="">
                      </div>
                      <h4>Privacy</h4>
                      <p>You can set anything with this functionalty</p>
                    </div>
                  </div>
                  

                 </div>
            </div>
        </div>
    </div>
</div>
 {{!--services ends--}}  

 {{!--map start--}} 
 <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d114312.51528014916!2d80.25598093936311!3d26.447150071568853!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x399c4770b127c46f%3A0x1778302a9fbe7b41!2sKanpur%2C%20Uttar%20Pradesh!5e0!3m2!1sen!2sin!4v1688064462181!5m2!1sen!2sin" 
 width=100% height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
 {{!--map ends--}}   


  
                  

 